.vs/TestBarigui/v15/
TestBarigui.Domain/bin/Debug/netcoreapp2.1/MessageMQ.Domain.deps.json
TestBarigui.Domain/bin/Debug/netcoreapp2.1/MessageMQ.Domain.dll
TestBarigui.Domain/bin/
TestBarigui.Domain/obj/MessageMQ.Domain.csproj.nuget.cache
TestBarigui.Domain/obj/TestBarigui.Domain.csproj.nuget.cache
TestBarigui.Domain/obj/
TestBarigui.Ioc/bin/Debug/netcoreapp2.1/MessageMQ.Domain.dll
TestBarigui.Ioc/bin/
TestBarigui.Ioc/obj/
TestBarigui.Microservices/bin/
TestBarigui.Microservices/obj/
TestBarigui.Receiver/bin/
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.pdb
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.dll
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.csprojAssemblyReference.cache
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.csproj.FileListAbsolute.txt
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.csproj.CoreCompileInputs.cache
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.csproj.CopyComplete
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.assets.cache
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.AssemblyInfoInputs.cache
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TestBarigui.Receiver.AssemblyInfo.cs
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/MessageMQ.Receiver.pdb
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/MessageMQ.Receiver.dll
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/MessageMQ.Receiver.csprojAssemblyReference.cache
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/MessageMQ.Receiver.csproj.FileListAbsolute.txt
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/MessageMQ.Receiver.csproj.CoreCompileInputs.cache
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/MessageMQ.Receiver.csproj.CopyComplete
TestBarigui.Receiver/obj/Debug/netcoreapp2.1/MessageMQ.Receiver.assets.cache
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Send.runtimeconfig.json
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Send.runtimeconfig.dev.json
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Send.pdb
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Send.dll
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Send.deps.json
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Ioc.pdb
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Ioc.dll
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Domain.pdb
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Domain.dll
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Core.pdb
TestBarigui.Send/bin/Debug/netcoreapp2.1/TestBarigui.Core.dll
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Send.runtimeconfig.json
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Send.runtimeconfig.dev.json
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Send.pdb
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Send.dll
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Send.deps.json
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Ioc.pdb
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Ioc.dll
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Domain.pdb
TestBarigui.Send/bin/Debug/netcoreapp2.1/MessageMQ.Domain.dll
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.pdb
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.dll
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.csprojAssemblyReference.cache
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.csproj.FileListAbsolute.txt
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.csproj.CoreCompileInputs.cache
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.csproj.CopyComplete
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.assets.cache
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.AssemblyInfoInputs.cache
TestBarigui.Send/obj/Debug/netcoreapp2.1/TestBarigui.Send.AssemblyInfo.cs
TestBarigui.Send/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestBarigui.Send/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestBarigui.Send/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestBarigui/obj/
TestBarigui/bin/
TestBarigui.Receiver/obj/
obj/
bin/
.vs/
